In [1]:
from pyspark.sql import SparkSession
from delta import configure_spark_with_delta_pip
import ConnectionConfig as cc
cc.setupEnvironment()
spark = cc.startLocalCluster("SQLExcersice")
spark.getActiveSession()

Go to https://spark.apache.org/docs/latest/sql-getting-started.html and https://spark.apache.org/docs/latest/api/python/getting_started/quickstart_df.html#Quickstart:-DataFrame to get some insights in coding Spark SQL. Always select 'Python' as the language.

Use the Spark SQL Reference documentation to complete this excercise
- To write dataframe operations: Python SparkSQL API: https://spark.apache.org/docs/latest/api/python/reference/pyspark.sql/index.html
- To write pure SQL statements: Spark SQL API: https://spark.apache.org/docs/2.3.0/api/sql/index.html and https://spark.apache.org/docs/latest/sql-ref.html
Helpfull site with examples: https://sparkbyexamples.com/pyspark/

## Load employees.csv as a Spark Dataframe
Tip: https://spark.apache.org/docs/latest/api/python/getting_started/quickstart_df.html#Getting-Data-In/Out

## Display the schema of the DataFrame
Tip: https://spark.apache.org/docs/latest/api/python/getting_started/quickstart_df.html#Getting-Data-In/Out

## Create a temperary view of the dataset with name tbl_employees
https://spark.apache.org/docs/latest/api/python/getting_started/quickstart_df.html#Getting-Data-In/Out


## Calculate the total number of employees in two ways:
-   Via dataframe operations: Tip: https://spark.apache.org/docs/latest/api/python/getting_started/quickstart_df.html#Grouping-Data
-   With a sql statement op tbl_employees: use spark.sql()

# Find the average salary of all employees in two ways:
-   Via the dataframe operation 'select'
-   With a sql statement ont tbl_employees

# Get the explain plan of the sql statement
1. use the method explain(mode="extended") on the spark.sql statement and look  at the different plans Spark created to excecute the query.
2. Read the physical plan from bottom to top and try to match the plan with the query you wrote. (Exchange means that the data is being shuffled between the executors)

# Find the highest salary in each department in two ways:
-  Via the dataframe operation 'groupBy'
-  With a sql statement ont tbl_employees

# Calculate the total salary expenditure for each year

# Calculate the number of employees per postal code
Postal codes are available in the parquet file empPostalCodes
Create a view for the parquet file and join the two datasets in the sql-query
Also check the explain plan of the query (Project means that the data is reduced to the columns needed for the query, BroadcastHashJoin means that the smaller dataset is broadcasted to all executors)