In [1]:
from pyspark.sql import SparkSession
from delta import configure_spark_with_delta_pip
import ConnectionConfig as cc
cc.setupEnvironment()

In [2]:
spark = cc.startLocalCluster("DIM_CUSTOMER") # default 4
spark.getActiveSession()

In [3]:
#EXTRACT 
#Extracting data van jdbc bron
cc.set_connectionProfile("VeloDB")

df_operational_users = spark.read \
    .format("jdbc") \
    .option("driver" , cc.get_Property("driver")) \
    .option("url", cc.create_jdbc()) \
    .option("dbtable", "velo_users") \
    .option("user", cc.get_Property("username")) \
    .option("password", cc.get_Property("password")) \
    .option("partitionColumn", "userid") \
    .option("numPartitions", 4) \
    .option("lowerBound", 0) \
    .option("upperBound", 20) \
    .load()


df_operational_subscription_type = spark.read \
    .format("jdbc") \
    .option("driver" , cc.get_Property("driver")) \
    .option("url", cc.create_jdbc()) \
    .option("dbtable", "subscription_types") \
    .option("user", cc.get_Property("username")) \
    .option("password", cc.get_Property("password")) \
    .option("partitionColumn", "subscriptiontypeid") \
    .option("numPartitions", 4) \
    .option("lowerBound", 0) \
    .option("upperBound", 20) \
    .load()

df_operational_subscriptions = spark.read \
    .format("jdbc") \
    .option("driver" , cc.get_Property("driver")) \
    .option("url", cc.create_jdbc()) \
    .option("dbtable", "subscriptions") \
    .option("user", cc.get_Property("username")) \
    .option("password", cc.get_Property("password")) \
    .option("partitionColumn", "subscriptionid") \
    .option("numPartitions", 4) \
    .option("lowerBound", 0) \
    .option("upperBound", 20) \
    .load()

In [4]:
#TRANSFORM
#TEMP VIEW
df_operational_users.createOrReplaceTempView("dimCustomer")
df_operational_subscription_type.createOrReplaceTempView("subscriptionTypes")
df_operational_subscriptions.createOrReplaceTempView("subscriptions")

In [5]:

# TRANSFORM: First, create a temp view for the most recent subscription per user
spark.sql("""

SELECT userId, validfrom, description
FROM (
SELECT 
        s.userId, 
        s.validfrom, 
        st.description,
        ROW_NUMBER() OVER (PARTITION BY s.userId ORDER BY s.validfrom DESC) AS rank
    FROM subscriptions AS s
    LEFT JOIN subscriptionTypes AS st ON s.subscriptiontypeid = st.subscriptiontypeid
)
WHERE rank = 1
""").createOrReplaceTempView("mostRecentSubscription")

df_dim_customer = spark.sql("""
    SELECT 
        monotonically_increasing_id() as customer_SK, 
        u.userid as customer_id,
        u.name as name,
        u.street,  
        u.number,  
        u.zipcode,
        u.city, 
        u.country_code,
        st.description as subscription_type,
        to_timestamp('1999-01-01','yyyy-MM-dd') AS scd_start, 
        to_timestamp('2100-12-12','yyyy-MM-dd') AS scd_end,
        s.validfrom as validform,
        s.subscriptionid as subscription_id,
        md5(concat(u.name, street,number , zipcode,city,country_code )) as md5,
        True as current
    FROM dimCustomer u
        JOIN subscriptions s 
                ON u.userid = s.userid
        JOIN subscriptionTypes st 
                ON s.subscriptiontypeid = st.subscriptiontypeid
    WHERE s.validfrom = (
        SELECT MAX(validfrom) 
        FROM subscriptions 
        WHERE userid = u.userid)
""")

# Create temp view for the final dimension
df_dim_customer.createOrReplaceTempView("dimCustomer")

# Display the final dimension
spark.sql("SELECT * FROM dimCustomer").show()

+-----------+-----------+--------------------+--------------------+--------+-------+--------------------+------------+-----------------+-------------------+-------------------+----------+---------------+--------------------+-------+
|customer_SK|customer_id|                name|              street|  number|zipcode|                city|country_code|subscription_type|          scd_start|            scd_end| validform|subscription_id|                 md5|current|
+-----------+-----------+--------------------+--------------------+--------+-------+--------------------+------------+-----------------+-------------------+-------------------+----------+---------------+--------------------+-------+
|          0|          2|   van der Zee Julia|          Europalaan|     43 |   2610| Wilrijk (Antwerpen)|          BE|            MAAND|1999-01-01 00:00:00|2100-12-12 00:00:00|2021-10-05|              4|9d3359c2cb9800783...|   true|
|          1|          4|      Willems Angela|Graaf Joseph de P...|     15 |   2900|             Schoten|          BE|              DAG|1999-01-01 00:00:00|2100-12-12 00:00:00|2019-04-08|              6|70ba1eea58f357811...|   true|
|          2|          3|     de Boer Ricardo|   Maria Clarastraat|     80 |   2160|           Wommelgem|          BE|             JAAR|1999-01-01 00:00:00|2100-12-12 00:00:00|2022-09-17|              5|430cf139585ed78b6...|   true|
|          3|          1|         Bouman Lars|    Somm√©straat Said|    156 |   2060|           Antwerpen|          BE|              DAG|1999-01-01 00:00:00|2100-12-12 00:00:00|2020-12-14|              3|06a6b6950726fcfb4...|   true|
|          4|          6|      Driessen Anouk|   Jan Ockegemstraat|168 0107|   2650|              Edegem|          BE|             JAAR|1999-01-01 00:00:00|2100-12-12 00:00:00|2023-12-31|             10|20433518c2ec27a18...|   true|
|          5|          9|            Smit Tim|       Bikschotelaan|     60 |   2600| Berchem (Antwerpen)|          BE|            MAAND|1999-01-01 00:00:00|2100-12-12 00:00:00|2023-11-29|             16|ebd2f063f8bb119e3...|   true|
|          6|          5|    Heijnen Patricia|          Meylstraat|    111 |   2540|                Hove|          BE|             JAAR|1999-01-01 00:00:00|2100-12-12 00:00:00|2022-05-16|              7|203f98e289861df6a...|   true|
|          7|          7|      Dijkstra Frank|        Klamperdreef|    154 |   2900|             Schoten|          BE|            MAAND|1999-01-01 00:00:00|2100-12-12 00:00:00|2021-12-01|             11|f39e3536e150374e5...|   true|
|          8|          8|  den Hartog Suzanne|      Kolibriestraat|138 0608|   2170| Merksem (Antwerpen)|          BE|             JAAR|1999-01-01 00:00:00|2100-12-12 00:00:00|2023-11-26|             13|d0b5f333b41abc1c3...|   true|
| 8589934592|         12|        Simons Thijs|         Bergenhoeve| 81 0302|   2040|Antwerpen/Berendr...|          BE|             JAAR|1999-01-01 00:00:00|2100-12-12 00:00:00|2023-10-20|             23|654d7701f61f97c80...|   true|
| 8589934593|         13|          Groen Rens|  Trompetvogelstraat|      1 |   2170| Merksem (Antwerpen)|          BE|             JAAR|1999-01-01 00:00:00|2100-12-12 00:00:00|2020-02-28|             24|b21f2533db70b6731...|   true|
| 8589934594|         14|   van der Veer Romy|Prosper De Vochtlaan|    177 |   2550|    Kontich/Waarloos|          BE|             JAAR|1999-01-01 00:00:00|2100-12-12 00:00:00|2023-09-19|             25|2eb3be45c77f12e13...|   true|
| 8589934595|         10|van der Steen Carmen|          Benzineweg|    137 |   2020|           Antwerpen|          BE|             JAAR|1999-01-01 00:00:00|2100-12-12 00:00:00|2021-12-27|             19|9f1a20ed81607e694...|   true|
| 8589934596|         11| de Ruijter Dani√´lle|      Leo Metsstraat| 21 0905|   2070|  Burcht/Zwijndrecht|          BE|            MAAND|1999-01-01 00:00:00|2100-12-12 00:00:00|2023-02-02|             20|54f88c53d69780747...|   true|
| 8589934597|         18|      Veldman Angela|Emiel Van Hemeldo...|     93 |   2540|                Hove|          BE|             JAAR|1999-01-01 00:00:00|2100-12-12 00:00:00|2023-08-04|             29|97d38ed6ace5f020f...|   true|
| 8589934598|         25|        Blok Vincent|      Korenbloemlaan|    147 |   2900|             Schoten|          BE|              DAG|1999-01-01 00:00:00|2100-12-12 00:00:00|2019-01-13|             37|e0b27b393c438a909...|   true|
| 8589934599|         37|        Postma Niels|        Visserstraat| 82 0602|   2070|  Burcht/Zwijndrecht|          BE|             JAAR|1999-01-01 00:00:00|2100-12-12 00:00:00|2022-08-02|             53|3f0e58f7ee5568bb8...|   true|
| 8589934600|         38|       Peters Stefan|    Kleinebeerstraat|     60 |   2018|           Antwerpen|          BE|            MAAND|1999-01-01 00:00:00|2100-12-12 00:00:00|2022-11-17|             56|1a57e918b9d0f5c93...|   true|
| 8589934601|         46|         Baars Kevin|            Keerbaan|    103 |   2520|Broechem/Emblem/O...|          BE|             JAAR|1999-01-01 00:00:00|2100-12-12 00:00:00|2023-12-30|             71|03124672e0b0b8de8...|   true|
| 8589934602|         50|     Venema Matthijs|         Bollaakdijk|     31 |   2520|Broechem/Emblem/O...|          BE|             JAAR|1999-01-01 00:00:00|2100-12-12 00:00:00|2022-09-05|             76|cc2eb7ffee540f0b3...|   true|
+-----------+-----------+--------------------+--------------------+--------+-------+--------------------+------------+-----------------+-------------------+-------------------+----------+---------------+--------------------+-------+
only showing top 20 rows

In [6]:
delta_table_path = "spark-warehouse/dimCustomer"
df_dim_customer.write.format("delta").mode("overwrite").save(delta_table_path)

In [7]:
df_dim_customer.createOrReplaceTempView("dimCustomer")
spark.sql("select * from dimCustomer").show()

+-----------+-----------+--------------------+--------------------+--------+-------+--------------------+------------+-----------------+-------------------+-------------------+----------+---------------+--------------------+-------+
|customer_SK|customer_id|                name|              street|  number|zipcode|                city|country_code|subscription_type|          scd_start|            scd_end| validform|subscription_id|                 md5|current|
+-----------+-----------+--------------------+--------------------+--------+-------+--------------------+------------+-----------------+-------------------+-------------------+----------+---------------+--------------------+-------+
|          0|          2|   van der Zee Julia|          Europalaan|     43 |   2610| Wilrijk (Antwerpen)|          BE|            MAAND|1999-01-01 00:00:00|2100-12-12 00:00:00|2021-10-05|              4|9d3359c2cb9800783...|   true|
|          1|          4|      Willems Angela|Graaf Joseph de P...|     15 |   2900|             Schoten|          BE|              DAG|1999-01-01 00:00:00|2100-12-12 00:00:00|2019-04-08|              6|70ba1eea58f357811...|   true|
|          2|          3|     de Boer Ricardo|   Maria Clarastraat|     80 |   2160|           Wommelgem|          BE|             JAAR|1999-01-01 00:00:00|2100-12-12 00:00:00|2022-09-17|              5|430cf139585ed78b6...|   true|
|          3|          1|         Bouman Lars|    Somm√©straat Said|    156 |   2060|           Antwerpen|          BE|              DAG|1999-01-01 00:00:00|2100-12-12 00:00:00|2020-12-14|              3|06a6b6950726fcfb4...|   true|
|          4|          6|      Driessen Anouk|   Jan Ockegemstraat|168 0107|   2650|              Edegem|          BE|             JAAR|1999-01-01 00:00:00|2100-12-12 00:00:00|2023-12-31|             10|20433518c2ec27a18...|   true|
|          5|          9|            Smit Tim|       Bikschotelaan|     60 |   2600| Berchem (Antwerpen)|          BE|            MAAND|1999-01-01 00:00:00|2100-12-12 00:00:00|2023-11-29|             16|ebd2f063f8bb119e3...|   true|
|          6|          5|    Heijnen Patricia|          Meylstraat|    111 |   2540|                Hove|          BE|             JAAR|1999-01-01 00:00:00|2100-12-12 00:00:00|2022-05-16|              7|203f98e289861df6a...|   true|
|          7|          7|      Dijkstra Frank|        Klamperdreef|    154 |   2900|             Schoten|          BE|            MAAND|1999-01-01 00:00:00|2100-12-12 00:00:00|2021-12-01|             11|f39e3536e150374e5...|   true|
|          8|          8|  den Hartog Suzanne|      Kolibriestraat|138 0608|   2170| Merksem (Antwerpen)|          BE|             JAAR|1999-01-01 00:00:00|2100-12-12 00:00:00|2023-11-26|             13|d0b5f333b41abc1c3...|   true|
| 8589934592|         12|        Simons Thijs|         Bergenhoeve| 81 0302|   2040|Antwerpen/Berendr...|          BE|             JAAR|1999-01-01 00:00:00|2100-12-12 00:00:00|2023-10-20|             23|654d7701f61f97c80...|   true|
| 8589934593|         13|          Groen Rens|  Trompetvogelstraat|      1 |   2170| Merksem (Antwerpen)|          BE|             JAAR|1999-01-01 00:00:00|2100-12-12 00:00:00|2020-02-28|             24|b21f2533db70b6731...|   true|
| 8589934594|         14|   van der Veer Romy|Prosper De Vochtlaan|    177 |   2550|    Kontich/Waarloos|          BE|             JAAR|1999-01-01 00:00:00|2100-12-12 00:00:00|2023-09-19|             25|2eb3be45c77f12e13...|   true|
| 8589934595|         10|van der Steen Carmen|          Benzineweg|    137 |   2020|           Antwerpen|          BE|             JAAR|1999-01-01 00:00:00|2100-12-12 00:00:00|2021-12-27|             19|9f1a20ed81607e694...|   true|
| 8589934596|         11| de Ruijter Dani√´lle|      Leo Metsstraat| 21 0905|   2070|  Burcht/Zwijndrecht|          BE|            MAAND|1999-01-01 00:00:00|2100-12-12 00:00:00|2023-02-02|             20|54f88c53d69780747...|   true|
| 8589934597|         18|      Veldman Angela|Emiel Van Hemeldo...|     93 |   2540|                Hove|          BE|             JAAR|1999-01-01 00:00:00|2100-12-12 00:00:00|2023-08-04|             29|97d38ed6ace5f020f...|   true|
| 8589934598|         25|        Blok Vincent|      Korenbloemlaan|    147 |   2900|             Schoten|          BE|              DAG|1999-01-01 00:00:00|2100-12-12 00:00:00|2019-01-13|             37|e0b27b393c438a909...|   true|
| 8589934599|         37|        Postma Niels|        Visserstraat| 82 0602|   2070|  Burcht/Zwijndrecht|          BE|             JAAR|1999-01-01 00:00:00|2100-12-12 00:00:00|2022-08-02|             53|3f0e58f7ee5568bb8...|   true|
| 8589934600|         38|       Peters Stefan|    Kleinebeerstraat|     60 |   2018|           Antwerpen|          BE|            MAAND|1999-01-01 00:00:00|2100-12-12 00:00:00|2022-11-17|             56|1a57e918b9d0f5c93...|   true|
| 8589934601|         46|         Baars Kevin|            Keerbaan|    103 |   2520|Broechem/Emblem/O...|          BE|             JAAR|1999-01-01 00:00:00|2100-12-12 00:00:00|2023-12-30|             71|03124672e0b0b8de8...|   true|
| 8589934602|         50|     Venema Matthijs|         Bollaakdijk|     31 |   2520|Broechem/Emblem/O...|          BE|             JAAR|1999-01-01 00:00:00|2100-12-12 00:00:00|2022-09-05|             76|cc2eb7ffee540f0b3...|   true|
+-----------+-----------+--------------------+--------------------+--------+-------+--------------------+------------+-----------------+-------------------+-------------------+----------+---------------+--------------------+-------+
only showing top 20 rows

In [8]:
spark.stop()